.position-top {
    width: 600;
}

@media only screen and (max-width: 768px) {
    .position-top {
        width: 600;
        height: 500px;
    }
}

.background-slider-1 {
    background-image: url("gama1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    /* width: 100%; */
}

.background-slider-2 {
    background-image: url("gama2.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */

}

@media screen and (max-width: 300px) {
    .background-slider-1 {
        height: 60vh;
        object-fit: cover;
        width: 50%;

    }

    .background-slider-2 {
        height: 60vh;
        object-fit: cover;
        width: 50%;

    }
}

@media screen and (min-width: 400px) and (max-width: 992px) {

    .background-slider-1,
    .background-slider-2 {
        height: 50vh;
        width: 40%;
    }
}
